.nav-item {
  color: #585353;
}

.nav-item:hover,
.nav-item > a.active {
  color: #6275f1;
}

.nav-item > a::after,
.nav-item > a.active::after {
  position: relative;
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 3px;
  background: transparent;
  transition: all 0.3s;
}

/* Navbar List Items Hover*/
.nav-item > a:hover::after,
.nav-item > a.active::after {
  width: 100%;
  background: linear-gradient(90deg, #6a7cf4 0%, #6275ed 100%);
}